@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: #178582;
    border-radius: 5px;
    transition: all 400ms ease-in-out
}

::-webkit-scrollbar-thumb:hover {
    background-color: #25c5bf;
}

.title-highlight {
    background: radial-gradient(75.3% 65106.57% at 1.06% -86.9%, rgba(12, 80, 105, .2) 0%, rgba(12, 74, 110, 0) 100%), linear-gradient(89.96deg, #d32d7b -.07%, rgba(145, 218, 252, 0) 113.39%);
    transform: rotate(-1.13deg);
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.right-out {
    animation: slide-out-right 0.3s ease-out forwards;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}